.list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding-top: 100px;
    grid-gap: 30px;
}

.list-item {
    box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
}

.user-photo {
    width: 100%;
}

.block-item div {
    padding: 20px 0;
    font-family: "Comic Sans MS", sans-serif;
}

p:first-child {
    font-weight: bold;
}